@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
	/* Primary Text */
	--very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* Background Gradient */
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	/* Neutral Text */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);

	/* Dividers */
	--light-grayish-blue: hsl(240, 5%, 91%);

	/* Shadow */
	--shadow-soft-violet: hsla(273, 75%, 66%, 0.15);

	/* Background and Illustration Mobile */
	--illustration-size-mobile: min(70%, 300px);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Kumbh Sans", sans-serif;
	font-size: 12px;
}

body {
	min-height: 100vh;
	padding: 150px 2rem 2rem;
	background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

@media (min-width: 925px) {
	body {
		display: grid;
		place-items: center;
		padding: 4rem;
	}
}

main {
	width: 100%;
	max-width: 1000px;

	background: white url(images/bg-pattern-mobile.svg) no-repeat top center;
	background-size: var(--illustration-size-mobile);

	border-radius: 2rem;
	box-shadow: 0 75px 3rem -3rem rgba(0, 0, 0, 0.2);
}

@media (min-width: 925px) {
	main {
		display: grid;
		grid-template-columns: 50% 50%;

		background: white url(images/bg-pattern-desktop.svg) no-repeat;
		background-position: -570px -300px;
	}
	section {
		flex: 1 0 0;
		height: 560px;
	}
}

/*-------------------------------------------------------------*/
/* Illustration Section */
/*-------------------------------------------------------------*/
.illustration-section {
	display: grid;
	place-items: center;
}

.illustration__mobile {
	position: relative;
	top: -59%;

	width: var(--illustration-size-mobile);
}

.illustration__desktop {
	display: none;
}

@media (min-width: 925px) {
	.illustration__mobile {
		display: none;
	}

	.illustration__desktop {
		display: block;
		position: relative;

		width: 100%;
		height: 100%;
	}

	.overflow-wrapper {
		overflow: hidden;
		height: 100%;
	}

	.illustration-woman-online {
		position: relative;
		left: -74px;
		top: 46px;
	}

	.illustration-box {
		position: absolute;
		top: 184px;
		left: -92px;
		z-index: 1;
	}
}

/*-------------------------------------------------------------*/
/* FAQ Section */
/*-------------------------------------------------------------*/
.faq-section {
	padding: 0 2rem 4rem;

	/* subtracts from the margin-top by a percentage of --illustration-size-mobile so 
	the spacing between this element and the illustration remains consistent */
	margin-top: calc(var(--illustration-size-mobile) * 0.2 * -1);
}

@media (min-width: 925px) {
	.faq-section {
		padding: 70px 125px 100px 0;
		margin-top: 0;
	}
}

h1 {
	text-align: center;
	font-size: 32px;
	color: var(--very-dark-desaturated-blue);
	margin-bottom: 1rem;
}

@media (min-width: 925px) {
	h1 {
		text-align: left;
		margin-bottom: 2rem;
	}
}

.accordion_question-answer {
	border-bottom: 1px solid var(--light-grayish-blue);
}

.question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding: 1.5rem 0;

	cursor: pointer;
	user-select: none;
}

.question > p {
	font-size: 14px;
	color: var(--very-dark-desaturated-blue);
}

.accordion_question-answer.active > .question > p {
	font-weight: 700;
}

.accordion_question-answer > .question > svg {
	transition: transform ease-in-out .2s;
}

.accordion_question-answer.active > .question > svg {
	transform: rotate(180deg);
}

.answer-wrapper {
	display: grid;
	grid-template-rows: 0fr;

	transition: grid-template-rows 0.2s,
				padding 0.2s;
}

.accordion_question-answer.active > .answer-wrapper {
	grid-template-rows: 1fr;
	padding-bottom: 1.5rem;
}

.answer {
	padding-right: 2rem;

	color: var(--dark-grayish-blue);
	line-height: 1.5rem;

	overflow: hidden;
}

@media (min-width: 925px) {
	.question p {
		font-size: 15px;
	}
	.answer {
		font-size: 13px;
	}
}